NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
AI_GATEWAY_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5
AI_MODEL=inclusionai/ling-3.0-flash-sante-free
# Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

DATABASE_URL=postgresql://postgres:postgres@localhost:5434/myapp
FIRECRAWL_API_KEY=
SERPAPI_API_KEY=
INNGEST_DEV=1